<header>
  <div class="topbar">
    <div class="grid">
      <div class="unit two-fifths logo center-on-tablets">
        <a href="/">
          <%= image_tag('images/logo.svg', :class => "logo-image") %>
        </a>
      </div>
      <div class="unit three-fifths nav-links center-on-tablets">
        <p>
          <%= link_to("HOME", "/") %>

          <%= link_to("ABOUT US", "/about.html") %>

          <%= link_to("OUR STAFF", "/staff.html") %>

          <%= link_to("CONTACT", "/contact.html") %>
        </p>
      </div>
    </div>
  </div>
</header>
