<nav>
  <div class="logo">
    <a href="/">
      <%= image_tag('images/logo.svg', :class => "logo-image") %>
    </a>
  </div>

  <div class="nav-links center-on-tablets">
    <%= link_to("HOME", "/") %>

    <%= link_to("ABOUT", "/about.html") %>

    <%= link_to("STAFF", "/staff.html") %>

    <%= link_to("CONTACT", "/contact.html") %>
  </div>
</nav>
